<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <marquee><h1>Customer Care Regsitry</h1></marquee>
        <script>
          window.watsonAssistantChatOptions = {
            integrationID: "5871bc4d-dd01-4cbd-afe2-50e06fe5132b", // The ID of this integration.
            region: "au-syd", // The region your integration is hosted in.
            serviceInstanceID: "6a7b5cc8-bbe8-45f6-8ca5-ab2efc7323c5", // The ID of your service instance.
            onLoad: function(instance) { instance.render(); }
          };
          setTimeout(function(){
            const t=document.createElement('script');
            t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
            document.head.appendChild(t);
          });
        </script>
            
          <h2>Images</h2>
          
            <img src="https://jrb-bucket01.s3.au-syd.cloud-object-storage.appdomain.cloud/pic-1.jpg" width="450" height="500"><br>
            <img src="https://jrb-bucket01.s3.au-syd.cloud-object-storage.appdomain.cloud/pic-2.png" width="450" height="500"><br>
            <img src="https://jrb-bucket01.s3.au-syd.cloud-object-storage.appdomain.cloud/pic-3.png" width="450" height="500"><br>
            <img src="https://jrb-bucket01.s3.au-syd.cloud-object-storage.appdomain.cloud/pic-4.webp" width="450" height="500"><br>
            <img src="https://jrb-bucket01.s3.au-syd.cloud-object-storage.appdomain.cloud/pic-5.png" width="450" height="500">
 


          
          

    </body>
</html>