<!DOCTYPE html>
<html>
    <head>
        <title>Customer care registry demo</title>
    </head>
    <body>
        <marquee><h1>Customer care registry</h1></marquee>

        <script>
            window.watsonAssistantChatOptions = {
              integrationID: "8ae4230e-2af7-4e8f-b953-c8da03268908", // The ID of this integration.
              region: "au-syd", // The region your integration is hosted in.
              serviceInstanceID: "04e7aee5-98ef-4c29-9f6c-e2ba528cdfc3", // The ID of your service instance.
              onLoad: function(instance) { instance.render(); }
            };
            setTimeout(function(){
              const t=document.createElement('script');
              t.src="https://web-chat.global.assistant.watson.appdomain.cloud/versions/" + (window.watsonAssistantChatOptions.clientVersion || 'latest') + "/WatsonAssistantChatEntry.js";
              document.head.appendChild(t);
            });
          </script>
          <h2>images</h2>
          {% for row in files % }
          <div>
            <h3>{{row.split(".")[0]}}</h3>
            <img src="https://jbr-bucket3.s3.us-east.cloud-object-storage.appdomain.cloud/{{row}}"></div>
            {% endrow %}

    </body>
</html>